header {
	background-color: gray;
	height: 150px;
	margin-bottom: 10px;
}

#col-left {
	background-color: gray;
	height: 300px;
	float: left;
	width: 20%;
	margin-right: 10px;
}

#col-mid {
	background-color: gray;
	height: 300px;
	float: left;
	width: 424px;
    margin-bottom: 10px;
}

#col-right {
	background-color: gray;
	height: 300px;
	float: right;
	width: 20%;
}

footer {
	background-color: gray;
	height: 150px;
	clear:both;
}