body {
	max-width: auto;
	overflow: auto;
}

header {
	background-color: gray;
	height: 150px;
	margin-bottom: 10px;
}

.columns {
	padding: 10px;
}

div.columns, div {
	display: flex;
	height: 300px;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
}

.col-left {
	background-color: gray;
	margin-right: 10px;
	justify-content: left;
	
}

.col-mid {
	background-color: gray;
	flex-grow: 2;
	
}

.col-right {
	background-color: gray;
	margin-left: 10px;
	justify-content: right;
	
}

footer {
	background-color: gray;
	height: 150px;
	clear:both;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}