body {
	max-width: auto;
	overflow: auto;
}

header {
	/*display: block;*/
	height: 150px;
}

.pagename {
	background-color: gray;
	height: 100px;
	width: 200px;
}


.nav {
	float: right;
	margin-bottom: 50px;
	position: absolute;
	right: 0;
	top: 127px;
}

.span {
	background-color: gray;
	float: right;
	display: inline;
	height: 40px;
	width: 120px;
	margin: 10px;
	/*display: inline-block;*/

}

section {
	background-color: gray;
	height: 300px;
	widows: auto;
}

.threebox {
	width: auto;
}

#b1, #b2, #b3 {
	background-color: gray;
	position: relative;
	height: 200px;
	float: left;
	margin-bottom: 10px;
}

#b1 {
	width: 32%;
	margin-top: 10px;
}

#b2 {
	width: 34%;
	margin-top: 10px;
	margin-left: 10px;
}

#b3 {
	width: 32%;
	margin-top: 10px;
	margin-left: 10px
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

footer {
	margin-top: 10px;
	background-color: gray;
	height: 150px;
	clear: both;
}
